html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.HeaderBar {
  display: inline-flex;
  padding: 10px;
  margin: 10px;
}

.HeaderItem {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: normal;
  text-decoration: overline;
}

.HeaderItem:hover {
  position: relative; 
  top: -1px;
  font-weight: bold;
}