.LinkStyle {
  text-decoration: underline;
  background: -webkit-linear-gradient(rgb(60, 104, 186), rgb(32, 97, 218));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.Header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bold;
  color: rgb(176, 176, 228);
  font-size: 40px;
}


.cardList2 {
  display: flex;
  padding: 3rem;
  overflow-x: hidden;
}

.cardList2:hover {
  overflow-x: scroll;
}




.Card2 {
  height: 350px;
  width: 400px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 16px;
  background: #17141d;
  box-shadow: -1rem 0 3rem #000;
  display: flex;
  flex-direction: column;
  transition: .2s;
  margin: 0;
  scroll-snap-align: start;
  clear: both;
  position: relative;
  color: #b3b3bf;
}

.Card2:focus-within~.Card2, .Card2:hover~.Card2 {
  transform: translateX(130px);
}

.Card2:hover {
  transform: translateY(-1rem);
}

.Card2:not(:first-child) {
  margin-left: -130px;
}

.deaths {
  color: #ff5757;
}

.cases {
  color: #ffd700;
}