.LinkStyle {
  text-decoration: underline;
  color: blue;
  font-weight: bold;
}

.DataWrapper {
  display: block;
  text-align: center;
  max-width: 300px;
  border: 1px;
  border-style: solid;
  border-radius: 15px;
  padding: 10px;
  margin: 10px 0;
  margin-left: 15px;
}

.Header {
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;
  color: rgb(99, 99, 165);
}


